// you can change colors here
$theme-color: #111111;

$bg-color-blur: (
    light: #fff,
    dark: #191919,
);
$bg-color: (
    light: #fff,
    dark: #191919,
);
$theme-color: (
    light: #111111,
    dark: #fdfdfd,
);
$text-color-light: (
    light: #111111,
    dark: #fdfdfd,
);
$theme-color-light: (
    light: #3c3c3c,
    dark: #cfcfcf,
);
$text-color: (
    light: #222222,
    dark: #dddddd,
);
$bg-color-secondary: (
    light: #f0f0f0,
    dark: #222222,
);
$border-color: (
    light: #dddddd,
    dark: #444444,
);